/* Body Styling */

body {
    background-color: black;
    color: lightgray;
}

a {
    text-decoration: none;
    color: lightgray
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: slategray;
    padding: 15px 35px 15px 0px;
    top: 0;
    color: whitesmoke
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    padding: 5px 15px 5px 35px;
    background-color: lightgray;
}

header h1 a {
    color: darkslategray;
    font-size: 45px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header nav ul li a {
    padding: 20px 15px 5px;
    font-weight: lighter;
    border-bottom: 3px solid lightgray;
    margin: 20px 15px 0 0;
    font-size: 25px;
    color: lightgray;
}

/* Footer Styling */



/* Hero Styling */

.hero {
    display: flex;
    background-image: url("../images/800w-9T_B0f66A4o.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 100px;
}

.hero-text {
    background-color: lightgray;
    color: darkslategray;
    flex: 0 1 auto;
    font-size: 25px;
    align-self: flex-end;
    margin: 0 15px 15px 0;
    padding: 5px 5px 5px 5px;
}

/* About Me Styling */

.about-me {
    text-align: center;
}

.about-me div{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    padding: 25px 0 25px 0;
}

.about-me h3 {
    width: 13%;
    font-size: 35px;
}

.about-me p {
    width: 35%;
    margin-left: 30px;
    border-left: 3px solid lightgray;
}

/* Projects Styling */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 25%;
}

.projects h2 {
    margin-right: 60%;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    border-left: 3px solid lightgray;
    width: 50%;
    height: 20%;
    position: absolute
}

.project-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    opacity: 0.5;
    border: 3px solid lightgray;
}

.project-links a:hover {
    opacity: 1.0;
}

.link-text {
    background-color: lightgray;
    color: darkslategray;
}

.project-img {
    height: 60%;
    width: 48%;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-end;
    margin: 5px 5px 5px 5px;
}

#project-1 {
    background-image: url("../images/2021-05-22\ \(2\).png");
    height: 200%;
    width: 400%;
    margin:5px 5px 5px 5px; 
}

#project-2 {
    background-image: url("../images/2021-05-11\ \(3\).png");
}

#project-3 {
    background-image: url("../images/laptops-banner2400.jpg");
}

#project-4 {
    background-image: url("../images/metadata-illustration.jpg");
}

#project-5 {
    background-image: url("../images/technology-785742_1920.jpg");
    background-position:center;
}

/* Contact Me Styling */


