/* Body Styling */

body {
    background-color: black;
    color: lightgray;
}

a {
    text-decoration: none;
    color: lightgray;
}

/* Header Styling */

header nav ul {
    list-style: none;

}

/* Footer Styling */



/* Hero Styling */



/* About Me Styling */



/* Contact Me Styling */


